#octolite-overlay {
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.05);
    pointer-events: none;
    transition: all 0.1s ease;
}

#octolite-tooltip {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    pointer-events: none;
    z-index: 2147483647;
}